.theme_light {
  --main-bg-color: #ffffff;
  --subtitle-text-color: #BFBFBF;
  --text-color: #261C00;
  --avatar-filter: none;
  --item-radio-bg-checked: linear-gradient(180deg, #FFF2D1 0.82%, #FFD66C 100%);
  --item-radio-box-sh-checked: 0px 0px 20px 0px rgba(255, 176, 57, 0.8) inset, -1px 1px 1px 0px rgba(255, 255, 255, 0.5) inset;
  --label-hover-bg: linear-gradient(180deg, rgba(244, 244, 244, 0.9) 0.82%, #E9E9E9 100%, rgba(234, 234, 234, 0) 100%);
  --label-hover-box-sh: 0px 0px 20px 0px rgba(207, 207, 207, 0.5) inset, -1px 1px 1px 0px rgba(255, 255, 255, 0.5) inset;
  --svg-button-fill: #f4b000;
  --svg-button-fill-disabled: #C4C4C4;
  --svg-button-hover: #C4C4C4;
}


.vote {
  height: 100vh;
  background: var(--main-bg-color);

  &-titlesWrapper {
    margin-top: 1.250rem;
    width: 35.25rem;
  }

  &-title {
    color: var(--text-color);
    font-family: Roboto-Bold;
    font-size: 1.875rem;
    line-height: 2rem;
  }

  &-subtitle {
    margin-top: 0.5rem;
    color: var(--subtitle-text-color);
    font-family: Roboto-Medium;
    font-size: 1rem;
    line-height: 1.125em;
  }

  &-itemRadio {
    display: none;
    &:checked+label {
      background: var(--item-radio-bg-checked);
      box-shadow: var(--item-radio-box-sh-checked);
      .vote-emoji {
        display: block;
      }
    }
  }

  &-avatar {
    width: 4rem;
    border-radius: 50%;
    margin: 1.375rem auto 0.125rem;
    filter: var(--avatar-filter);
  }

  &-toggleMembers {
    border: none;
    background: none;
    outline: none;

  }

  &-emoji {
    display: none;
    position: absolute;
    top: -0.25rem;
    left: 30%;
    font-size: 2rem;
    line-height: 2rem;
    z-index: 1;
  }

  &-label {
    position: relative;
    margin: 0 auto;
    width: 6.5rem;
    height: 8.875em;
    border-radius: 0.375rem;
    &:hover {
      background: var(--label-hover-bg);
      box-shadow: var(--label-hover-box-sh);
    }

  }

  button[type="button"]:disabled {
    .vote-svgButton {
      cursor: none;
      fill: var(--svg-button-fill-disabled);
    }
  }

  &-svgButton {
    cursor: pointer;
    fill: var(--svg-button-fill);
    width: 4rem;
  }

  &-name {
    word-spacing: 6rem;
    color: var(--text-color);
    font-family: Roboto-Medium;
    font-size: 1rem;
    line-height: 1.125em;
  }

  &-content {
    margin: 0 auto 0.313rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr) repeat(1, 0.6fr) repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 18.250rem;
    width: 38.125rem;
    align-items: center;
  }

  &-item {
    width: 6.500rem;
    height: 8.875rem;
    margin: 0 auto;
  }

  &-item:nth-child(1) {
    grid-column: 3/4;
    grid-row: 1/2;
    justify-content: center;
    align-items: flex-end;


    .vote-svgButton {
      margin-bottom: 1.438rem;
    }

    &:hover {
      .vote-svgButton {
        fill: var(--svg-button-hover);
      }

    }

  }

  &-item:nth-child(2) {
    grid-column: 3/4;
    grid-row: 2/3;
    align-items: center;

    justify-content: center;

    .vote-svgButton {
      transform: rotate(180deg);
      margin-bottom: 1.375rem;

    }

    &:hover {
      .vote-svgButton {
        fill: var(--svg-button-hover);
      }
    }

  }

  &-item:nth-child(3) {
    grid-column: 1/2;
    grid-row: 1/5;
    margin-right: 1.25rem;

  }

  &-item:nth-child(4) {
    grid-column: 2/3;
    grid-row: 1/2;

  }

  &-item:nth-child(5) {
    grid-column: 4/5;
    grid-row: 1/2;

  }

  &-item:nth-child(6) {
    grid-column: 5/6;
    grid-row: 1/3;
    margin-left: 1.25rem;

  }

  &-item:nth-child(7) {
    grid-column: 2/3;
    grid-row: 2/3;

  }

  &-item:nth-child(8) {
    grid-column: 4/5;
    grid-row: 2/3;

  }

  &-item:nth-child(9) {
    display: none;

  }

  &-item:nth-child(10) {
    display: none;

  }

}

@media (orientation: portrait) {
  .vote {
    align-items: start;

    &-titlesWrapper {
      text-align: start;
      width: 18.75em;
      margin-left: 1.5rem;

    }

    &-content {
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1.2fr 0.6fr 1.2fr;
      grid-template-rows: repeat(33, 1fr);
      height: 32.813rem;
      width: 23.438rem;
      justify-items: center;

    }

    &-item:nth-child(1) {
      grid-column: 2/3;
      grid-row: 1/7;
      height: unset;
      .vote-svgButton {
        margin: 0.938rem auto 0;
      }

    }

    &-item:nth-child(2) {
      grid-column: 2/3;
      grid-row: 28/34;
      height: unset;
      .vote-svgButton {
        margin: 0 auto 0.688rem;
      }

    }

    &-item:nth-child(3) {
      grid-column: 1/2;
      grid-row: 2/13;
      margin: 0 0 1.250rem 0.938rem;

    }

    &-item:nth-child(4) {
      grid-column: 2/3;
      grid-row: 7/17;
      margin: 0.625rem 0 0;
      .vote-avatar {
        margin: 1.313rem auto .125rem;
      }
    }

    &-item:nth-child(5) {
      grid-column: 3/4;
      grid-row: 2/13;
      margin: 0 0.938rem 1.250rem 0;

    }

    &-item:nth-child(6) {
      grid-column: 1/2;
      grid-row: 13/23;
      margin: 0 0 1.250rem 0.938rem;

    }

    &-item:nth-child(7) {
      grid-column: 2/3;
      grid-row: 17/29;
      margin: 0 0 0.813rem;
      .vote-avatar {
        margin: 1.313rem auto .125rem;
      }
    }

    &-item:nth-child(8) {
      grid-column: 3/4;
      grid-row: 13/23;
      margin: 0 0.938rem 1.250rem 0;

    }

    &-item:nth-child(9) {
      grid-column: 1/2;
      grid-row: 23/34;
      display: flex;
      margin: 0 0 1.250rem 0.938rem;

    }

    &-item:nth-child(10) {
      grid-column: 3/4;
      grid-row: 23/34;
      display: flex;
      margin: 0 0.938rem 1.250rem 0;

    }

  }
}